extends ../partials/_template


block content
  .c-content(data-js-full-page)
    .c-content__background
      img.c-content__background-blue.star.star1(src=paths.img + "blue-dot.png", alt="")
      img.c-content__background-pink.star.star2(src=paths.img + "pink-dot.png", alt="")
      img.c-content__background-blue.star.star3(src=paths.img + "blue-dot.png", alt="")
      img.c-content__background-blue.star.star4(src=paths.img + "blue-dot.png", alt="")
      img.c-content__background-pink.star.star5(src=paths.img + "pink-dot.png", alt="")
      img.c-content__background-pink.star.star6(src=paths.img + "pink-dot.png", alt="")
      img.c-content__background-blue.star.star7(src=paths.img + "blue-dot.png", alt="")
      img.c-content__background-blue.star.star8(src=paths.img + "blue-dot.png", alt="")
    .c-content__menu
      a.c-content__menu--item.item-hover(href="#" data-toggle='modal', data-target='#loginModal')
        img.z5.rotate(src=paths.img + "data-admin-w.png", alt="item")
        img.z5.movePos3(src=paths.img + "data-admin-s2.png", alt="item")
        img.z4.movePos2(src=paths.img + "data-admin-s1.png", alt="item")
        img.z3.movePos1(src=paths.img + "data-admin-p2.png", alt="item")
        img.z2.movePos(src=paths.img + "data-admin-p1.png", alt="item")
        img.z1(src=paths.img + "data-admin-icon.png", alt="item")
        img.fadeIn(src=paths.img + "data-admin-hover.png", alt="item")
        img(src=paths.img + "data-admin-bg.png", alt="item")
        .c-content__menu--info.info1
          h6 数据管理
          p.c-content__menu--detail.tit 简介：
          p.c-content__menu--detail.txt
      
            |面向数据工程师，通过DoDAF模型或者现有数据库结构编辑业务表单，业务表单内容为装备管理对象的数据结果集，结合系统数据即可查看各类装备管理对象的业务数据。数据管理模块还包含对各类及基础数据及权限进行管理的功能。
          p.c-content__menu--detail.tit 特点：
          p.c-content__menu--detail.txt.
            同时支持DoDAF模型和数据库模型，结合现有数据创建业务表单。<br/>可独立部署也可在现有系统基础上集成，兼容现有系统的用户及权限管理。<br/>支持国产数据库在内的各类数据库或数据文件。
          i.lt
          i.rt
          i.lb
          i.rb
      a.c-content__menu--item(href="#" data-toggle='modal', data-target='#loginModal')
        img.z5.moveSq(src=paths.img + "data-model-sq3.png", alt="item")
        img.z4.moveSq1(src=paths.img + "data-model-sq2.png", alt="item")
        img.z3.moveSq2(src=paths.img + "data-model-sq1.png", alt="item")
        img.z2.moveSector(src=paths.img + "data-model-s.png", alt="item")
        img.z1(src=paths.img + "data-model-icon.png", alt="item")
        img.fadeIn(src=paths.img + "data-model-hover.png", alt="item")
        img(src=paths.img + "data-model-bg.png", alt="item")
        .c-content__menu--info.info2
          h6 模型编配
          p.c-content__menu--detail.tit 简介：
          p.c-content__menu--detail.txt
            | 面向业务参谋，基于数据管理中生成的业务表单，进行应用模型编配，软件提供最简单的用户操作，使业务参谋有能力根据首长决策点编配出合理的模型，使系统数据可视化。另外业务参谋可以将编好的模型，组装到首长决策网站。
          p.c-content__menu--detail.tit 支持：
          p.c-content__menu--detail.txt.
            多种类型的模型编辑，支持统计分析、方案比对、方案预测类模型的编辑。<br/>简单易用的模型编辑功能，编辑结果所见即所得。<br/>可配置的数据展示网站，随时支持首长决策。
          i.lt
          i.rt
          i.lb
          i.rb
      a.c-content__menu--item(href="#" data-toggle='modal', data-target='#loginModal')
        img.z7(src=paths.img + "data-show-sq.png", alt="item")
        img.z6.moveM2(src=paths.img + "data-show-m2.png", alt="item")
        img.z5.moveM1(src=paths.img + "data-show-m1.png", alt="item")
        img.z4.fadeOut2(src=paths.img + "data-show-p3.png", alt="item")
        img.z3.fadeOut1(src=paths.img + "data-show-p2.png", alt="item")
        img.z2.fadeOut(src=paths.img + "data-show-p1.png", alt="item")
        img.z1(src=paths.img + "data-show-icon.png", alt="item")
        img.fadeIn(src=paths.img + "data-show-hover.png", alt="item")
        img(src=paths.img + "data-show-bg.png", alt="item")
        .c-content__menu--info.info3
          h6 数据展示
          p.c-content__menu--detail.tit 简介：
          p.c-content__menu--detail.txt
            |面向首长，基于业务参谋编配的模型以及网站的组装构建结果，结合系统数据，展示实时的报告，报表，分析、预测结果，并支持系统交互，为首长决策提供辅助支持。
          p.c-content__menu--detail.tit 特点：
          p.c-content__menu--detail.txt.
            丰富直观的数据可视化效果，提升用户体验，降低决策的复杂度。<br/>可交互的数据分析过程，快速定位到决策所需数据，快速产生分析结果。<br/>灵活的权限管理机制，严格控制报表和图表的查看范围。
          i.lt
          i.rt
          i.lb
          i.rb


      
