extends ../partials/_template


block content
  .c-content(data-js-full-page)
    .c-content__background
      img.c-content__background-blue.star.star1(src=paths.img + "blue-dot.png", alt="")
      img.c-content__background-pink.star.star2(src=paths.img + "pink-dot.png", alt="")
      img.c-content__background-blue.star.star3(src=paths.img + "blue-dot.png", alt="")
      img.c-content__background-blue.star.star4(src=paths.img + "blue-dot.png", alt="")
      img.c-content__background-pink.star.star5(src=paths.img + "pink-dot.png", alt="")
      img.c-content__background-pink.star.star6(src=paths.img + "pink-dot.png", alt="")
      img.c-content__background-blue.star.star7(src=paths.img + "blue-dot.png", alt="")
      img.c-content__background-blue.star.star8(src=paths.img + "blue-dot.png", alt="")
    .c-content__menu
      a.c-content__menu--item.item-hover(href="#")
        img.z5.rotate(src=paths.img + "data-admin-w.png", alt="item")
        img.z5.movePos3(src=paths.img + "data-admin-s2.png", alt="item")
        img.z4.movePos2(src=paths.img + "data-admin-s1.png", alt="item")
        img.z3.movePos1(src=paths.img + "data-admin-p2.png", alt="item")
        img.z2.movePos(src=paths.img + "data-admin-p1.png", alt="item")
        img.z1(src=paths.img + "data-admin-icon.png", alt="item")
        img.fadeIn(src=paths.img + "data-admin-hover.png", alt="item")
        img(src=paths.img + "data-admin-bg.png", alt="item")
        .c-content__menu--info.info1
          h6 数据管理
          p.c-content__menu--detail.tit 多数据源支持：
          p.c-content__menu--detail.txt
            |1、来自云数据源：RDS、HybridDB(Greenplum)、MaxCompute(ODPS)、AnalyticDB(ADS)等
            br
            |2、来自ECS自建数据库：Mysql、SqlServer等
            br
            |3、本地文件：CSV、Excel等
          p.c-content__menu--detail.tit 支持：
          p.c-content__menu--detail.txt
            |来自云数据源：RDS、HybridDB(Greenplum)、MaxCompute(ODPS)、AnalyticDB(ADS)等
            br
            |来自ECS自建数据库：Mysql、SqlServer等
            br
            |本地文件：CSV、Excel等
          i.lt
          i.rt
          i.lb
          i.rb
      a.c-content__menu--item(href="#")
        img.z5.moveSq(src=paths.img + "data-model-sq3.png", alt="item")
        img.z4.moveSq1(src=paths.img + "data-model-sq2.png", alt="item")
        img.z3.moveSq2(src=paths.img + "data-model-sq1.png", alt="item")
        img.z2.moveSector(src=paths.img + "data-model-s.png", alt="item")
        img.z1(src=paths.img + "data-model-icon.png", alt="item")
        img.fadeIn(src=paths.img + "data-model-hover.png", alt="item")
        img(src=paths.img + "data-model-bg.png", alt="item")
        .c-content__menu--info.info2
          h6 模型编配
          p.c-content__menu--detail.tit 多数据源支持：
          p.c-content__menu--detail.txt
            | 1、来自云数据源：RDS、HybridDB(Greenplum)、MaxCompute(ODPS)、AnalyticDB(ADS)等
            br
            | 2、来自ECS自建数据库：Mysql、SqlServer等
            br
            | 3、本地文件：CSV、Excel等
          p.c-content__menu--detail.tit 支持：
          p.c-content__menu--detail.txt
            | 来自云数据源：RDS、HybridDB(Greenplum)、MaxCompute(ODPS)、AnalyticDB(ADS)等
            br
            | 来自ECS自建数据库：Mysql、SqlServer等
            br
            | 本地文件：CSV、Excel等
          i.lt
          i.rt
          i.lb
          i.rb
      a.c-content__menu--item(href="#")
        img.z7(src=paths.img + "data-show-sq.png", alt="item")
        img.z6.moveM2(src=paths.img + "data-show-m2.png", alt="item")
        img.z5.moveM1(src=paths.img + "data-show-m1.png", alt="item")
        img.z4.fadeOut2(src=paths.img + "data-show-p3.png", alt="item")
        img.z3.fadeOut1(src=paths.img + "data-show-p2.png", alt="item")
        img.z2.fadeOut(src=paths.img + "data-show-p1.png", alt="item")
        img.z1(src=paths.img + "data-show-icon.png", alt="item")
        img.fadeIn(src=paths.img + "data-show-hover.png", alt="item")
        img(src=paths.img + "data-show-bg.png", alt="item")
        .c-content__menu--info.info3
          h6 数据展示
          p.c-content__menu--detail.tit 多数据源支持：
          p.c-content__menu--detail.txt
            | 1、来自云数据源：RDS、HybridDB(Greenplum)、MaxCompute(ODPS)、AnalyticDB(ADS)等
            br
            | 2、来自ECS自建数据库：Mysql、SqlServer等
            br
            | 3、本地文件：CSV、Excel等
          p.c-content__menu--detail.tit 支持：
          p.c-content__menu--detail.txt
            | 来自云数据源：RDS、HybridDB(Greenplum)、MaxCompute(ODPS)、AnalyticDB(ADS)等
            br
            | 来自ECS自建数据库：Mysql、SqlServer等
            br
            | 本地文件：CSV、Excel等
          i.lt
          i.rt
          i.lb
          i.rb


      
