extends ../partials/_template


block content
  .c-content
    .c-content__background
      img.c-content__background-blue.star.star1(src=paths.img + "blue-dot.png", alt="")
      img.c-content__background-pink.star.star2(src=paths.img + "pink-dot.png", alt="")
      img.c-content__background-blue.star.star3(src=paths.img + "blue-dot.png", alt="")
      img.c-content__background-blue.star.star4(src=paths.img + "blue-dot.png", alt="")
      img.c-content__background-pink.star.star5(src=paths.img + "pink-dot.png", alt="")
      img.c-content__background-pink.star.star6(src=paths.img + "pink-dot.png", alt="")
      img.c-content__background-blue.star.star7(src=paths.img + "blue-dot.png", alt="")
      img.c-content__background-blue.star.star8(src=paths.img + "blue-dot.png", alt="")
    .c-content__menu
      a.c-content__menu--item(href="#")
        img(src=paths.img + "shujuguanli.png", alt="item")
        img(src=paths.img + "shujuguanli-hover.png", alt="item")
        .c-content__menu--info.info1
          h6 数据管理
          p.c-content__menu--detail.tit 多数据源支持：
          p.c-content__menu--detail.txt
            |1、来自云数据源：RDS、HybridDB(Greenplum)、MaxCompute(ODPS)、AnalyticDB(ADS)等
            br
            |2、来自ECS自建数据库：Mysql、SqlServer等
            br
            |3、本地文件：CSV、Excel等
          p.c-content__menu--detail.tit 支持：
          p.c-content__menu--detail.txt
            |来自云数据源：RDS、HybridDB(Greenplum)、MaxCompute(ODPS)、AnalyticDB(ADS)等
            br
            |来自ECS自建数据库：Mysql、SqlServer等
            br
            |本地文件：CSV、Excel等
          i.lt
          i.rt
          i.lb
          i.rb
      a.c-content__menu--item(href="#")
        img(src=paths.img + "moxingbianpei.png", alt="item")
        img(src=paths.img + "moxingbianpei-hover.png", alt="item")
        .c-content__menu--info.info2
          h6 数据管理
          p.c-content__menu--detail.tit 多数据源支持：
          p.c-content__menu--detail.txt
            | 1、来自云数据源：RDS、HybridDB(Greenplum)、MaxCompute(ODPS)、AnalyticDB(ADS)等
            br
            | 2、来自ECS自建数据库：Mysql、SqlServer等
            br
            | 3、本地文件：CSV、Excel等
          p.c-content__menu--detail.tit 支持：
          p.c-content__menu--detail.txt
            | 来自云数据源：RDS、HybridDB(Greenplum)、MaxCompute(ODPS)、AnalyticDB(ADS)等
            br
            | 来自ECS自建数据库：Mysql、SqlServer等
            br
            | 本地文件：CSV、Excel等
          i.lt
          i.rt
          i.lb
          i.rb
      a.c-content__menu--item(href="#")
        img(src=paths.img + "shujuzhanshi.png", alt="item")
        img(src=paths.img + "shujuzhanshi-hover.png", alt="item")
        .c-content__menu--info.info3
          h6 数据管理
          p.c-content__menu--detail.tit 多数据源支持：
          p.c-content__menu--detail.txt
            | 1、来自云数据源：RDS、HybridDB(Greenplum)、MaxCompute(ODPS)、AnalyticDB(ADS)等
            br
            | 2、来自ECS自建数据库：Mysql、SqlServer等
            br
            | 3、本地文件：CSV、Excel等
          p.c-content__menu--detail.tit 支持：
          p.c-content__menu--detail.txt
            | 来自云数据源：RDS、HybridDB(Greenplum)、MaxCompute(ODPS)、AnalyticDB(ADS)等
            br
            | 来自ECS自建数据库：Mysql、SqlServer等
            br
            | 本地文件：CSV、Excel等
          i.lt
          i.rt
          i.lb
          i.rb
      
