extends ../partials/_template
block footer
block header

block footerJs
  script(src=paths.js + 'vendor/bootstrap-treeview.js')



block content
  .c-module.c-module-setup.container-fluid(data-add-menu)
    form.c-form-setup.c-form(method="POST" name="moduleSetupForm" id="moduleSetupForm" data-js-form-validator)
      .row
        .col-sm-6.c-module-setup__left.l-p-bottom-5
          .row
            .col-sm-3
              .form-group.text-label
                label.form__label(for="name") 主标题
            .col-sm-9.col-xs-10
              .form-group
                input.form-control(type="text" id="name" name="name" data-rule="required|alpha|max:30")
                div.text-danger.l-padding-top-1.hide.input-error-message 请输入主标题
          .row
            .col-sm-3
                .form-group.text-label
                  label.form__label(for="type") 网站样式
              .col-sm-9.col-xs-10
                .form-group
                  select.form-control(type="text" data-js-mobile-smart-label id="type" name="type" data-rule="required")
                    option(value="" class="active")
                    option(value="001") 样式1
                    option(value="002") 样式2
                  div.text-danger.l-padding-top-1.hide.input-error-message 请输入样式
          .row
            .col-sm-3
              .form-group.text-label
                label.form__label(for="addMenu") 菜单设置
            .col-sm-9.col-xs-10
              .form-group.c-module-setup-addMenu
                button.btn.btn-default.js-open-modal(type='button' data-action="addFirst") 添加菜单
              .form-group.c-module-setup-editMenu
                button.btn.btn-default(type='button') 编辑菜单

          .row
            .col-sm-3
              .form-group.text-label.hidden-xs
                label.form__label(for="")
            .col-sm-9.col-xs-10
              .form-group
              .panel.panel-default(data-tree-view)
                .panel-body
                  .js-menu-item.treeview
                    ul.list-group
                      li.list-group-item.node-first(data-index = "0")
                        span.icon.expand-icon.ion-arrow-down-b
                        span.icon.node-icon
                        span.text-edit 关于我们
                        span.ion.ion-arrow
                          span.ion.ion-arrow-down-b.js-arrow-down(data-action="orderFirst")
                          span.ion.ion-arrow-up-b.js-arrow-up(data-action="orderFirst")
                        span.ion.ion-close.js-remove-node(data-action="removeALL")
                        span.ion.ion-edit.js-edit-text
                        span.ion.ion-plus-round.js-open-modal(data-action="addSecond")
                        ul.list-group.list-group-second
                          li.list-group-item.node-second(data-index = "1")
                            span.icon.expand-icon.ion-arrow-down-b
                            span.icon.node-icon
                            span.text-edit 公司简介
                            span.ion.ion-arrow
                              span.ion.ion-arrow-down-b.js-arrow-down
                              span.ion.ion-arrow-up-b.js-arrow-up
                            span.ion.ion-close.js-remove-node(data-action="removeSecond")
                            span.ion.ion-edit.js-edit-text
                            span.ion.ion-plus-round.js-open-modal(data-action="addThird")
                            ul.list-group.list-group-third
                              li.list-group-item.node-third(data-index = "2")
                                span.icon.glyphicon
                                span.icon.node-icon.ion-stop
                                span.text-edit 联系电话
                                span.ion.ion-arrow
                                  span.ion.ion-arrow-down-b.js-arrow-down
                                  span.ion.ion-arrow-up-b.js-arrow-up
                                span.ion.ion-close.js-remove-node(data-action="removeThird")
                                span.ion.ion-edit.js-edit-text
                    ul.list-group
                      li.list-group-item.node-first(data-index = "0")
                        span.icon.expand-icon.ion-arrow-down-b
                        span.icon.node-icon
                        span.text-edit 数据库
                        span.ion.ion-arrow
                          span.ion.ion-arrow-down-b.js-arrow-down(data-action="orderFirst")
                          span.ion.ion-arrow-up-b.js-arrow-up(data-action="orderFirst")
                        span.ion.ion-close.js-remove-node(data-action="removeALL")
                        span.ion.ion-edit.js-edit-text
                        span.ion.ion-plus-round.js-open-modal(data-action="addSecond")
                        ul.list-group-second.list-group
                          li.list-group-item.node-second(data-index = "1")
                            span.icon.expand-icon.ion-arrow-down-b
                            span.icon.node-icon
                            span.text-edit 数据源
                            span.ion.ion-arrow
                              span.ion.ion-arrow-down-b.js-arrow-down
                              span.ion.ion-arrow-up-b.js-arrow-up
                            span.ion.ion-close.js-remove-node(data-action="removeSecond")
                            span.ion.ion-edit.js-edit-text
                            span.ion.ion-plus-round.js-open-modal(data-action="addThird")
                            ul.list-group-third.list-group
                              li.list-group-item.node-third(data-index = "2")
                                span.icon.glyphicon
                                span.icon.node-icon.ion-stop
                                span.text-edit 数据分析
                                span.ion.ion-arrow
                                  span.ion.ion-arrow-down-b.js-arrow-down
                                  span.ion.ion-arrow-up-b.js-arrow-up
                                span.ion.ion-close.js-remove-node(data-action="removeThird")
                                span.ion.ion-edit.js-edit-text
                              li.list-group-item.node-third(data-index = "2")
                                span.icon.glyphicon
                                span.icon.node-icon.ion-stop
                                span.text-edit 图表分析
                                span.ion.ion-arrow
                                  span.ion.ion-arrow-down-b.js-arrow-down
                                  span.ion.ion-arrow-up-b.js-arrow-up
                                span.ion.ion-close.js-remove-node(data-action="removeThird")
                                span.ion.ion-edit.js-edit-text



          .row
            .col-sm-3
              .form-group.text-label.hidden-xs
                label.form__label(for="")
            .col-sm-9.col-xs-10
              .form-group
              button.btn.btn-primary(type="button") 确定
        .col-sm-6.c-module-setup__right.l-p-bottom-5(data-js-module-setup-radios)
          .row
            .col-sm-12
              .form-group.text-label
                label.form__label(for="setupOption") 菜单详情-内容布局
          .row.radioGroup
            .col-sm-3.col-xs-2.col-md-3.col-lg-2
              label
                input#setupOption1(type='radio', name='setupOption', autocomplete='off')
                .setupOption-image.setupOption-image--1.js-radio-item(data-image="setupOptionImg1")
            .col-sm-3.col-xs-2.col-md-3.col-lg-2
              label
                input#setupOption2(type='radio', name='setupOption', autocomplete='off')
                .setupOption-image.setupOption-image--2.js-radio-item(data-image="setupOptionImg2")
            .col-sm-3.col-xs-2.col-md-3.col-lg-2
              label
                input#setupOption3(type='radio', name='setupOption', autocomplete='off')
                .setupOption-image.setupOption-image--3.js-radio-item(data-image="setupOptionImg3")
            .col-sm-3.col-xs-2.col-md-3.col-lg-2
              label
                input#setupOption4(type='radio', name='setupOption', autocomplete='off')
                .setupOption-image.setupOption-image--4.js-radio-item(data-image="setupOptionImg4")
            .col-sm-3.col-xs-2.col-md-3.col-lg-2
              label
                input#setupOption5(type='radio', name='setupOption', autocomplete='off')
                .setupOption-image.setupOption-image--5.js-radio-item(data-image="setupOptionImg5")
            .col-sm-3.col-xs-2.col-md-3.col-lg-2
              label
                input#setupOption6(type='radio', name='setupOption', autocomplete='off')
                .setupOption-image.setupOption-image--6.js-radio-item(data-image="setupOptionImg6")
          .row.setupOptionImgGroup.js-radio-images
            .col-sm-12
              img#setupOptionImg1(src=paths.img + 'module-setup-markup.jpg')
              img#setupOptionImg2(src=paths.img + 'module-setup-markup.jpg')
              img#setupOptionImg3(src=paths.img + 'module-setup-markup.jpg')
              img#setupOptionImg4(src=paths.img + 'module-setup-markup.jpg')
              img#setupOptionImg5(src=paths.img + 'module-setup-markup.jpg')
              img#setupOptionImg6(src=paths.img + 'module-setup-markup.jpg')

              
      .row.button-group
        .col-sm-6.col-xs-6
          .form-group.text-center
            button.btn.btn-primary(type='button') 保存
        .col-sm-6.col-xs-6
          .form-group.text-center
            button.btn.btn-default(type='button' data-dismiss='modal' aria-label='Close') 取消


   

    #modalSetup.modal.fade.modalSetup.js-menu-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4#myModalLabel.modal-title 添加菜单
          .modal-body
            form.c-form(method="POST" name="addMenuForm" id="addMenuForm" data-js-form-validator)
              .row
                .col-sm-3
                  .form-group.text-label
                    label.form__label(for="name") 菜单名称
                .col-sm-7
                  .form-group
                    input.form-control.js-add-menu(type="text" id="name" name="name" autocomplete='off')
                    div.text-danger.l-padding-top-1.hide.input-error-message 请输入有效名称
              .row.button-group
                .col-sm-6.button-single
                  .form-group
                    button.btn.btn-primary.js-save-item(type='button') 保存
                .col-sm-6.button-single
                  .form-group
                    button.btn.btn-default(type='button' data-dismiss='modal' aria-label='Close') 取消
      
    #modalConfirm.modal.fade.modalConfirm.js-confirm-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h4#myModalLabel.modal-title 添加菜单
          .modal-body
            form.c-form
              .row
                .col-sm-4
                  .form-group.text-right
                    label.form__label.text-description
                      img(src="./assets/images/icon-info.png", alt="item")
                .col-sm-7
                  .form-group
                    label.form__label.text-blue.text-bold.text-description 将删除所有子菜单，是否删除？
              .row.button-group.text-center
                .col-sm-6.button-single
                  .form-group
                    button.btn.btn-primary.js-remove-btn(type='button') 确定
                .col-sm-6.button-single
                  .form-group
                    button.btn.btn-default(type='button' data-dismiss='modal' aria-label='Close') 取消