extends ../partials/_template
include ../mixins/_chart-type-radio-group
include ../mixins/_slick-carousel
include ../mixins/_setupRadio
include ../mixins/_createMenu

block footer
block header
block headCss
  link(rel='stylesheet', href=paths.css + 'vendor/jquery.mCustomScrollbar.min.css')
block footerJs
  script(src=paths.js + 'vendor/slick.min.js')

//- 网站构建
block content
  .c-module.c-module-setup.container-fluid.isEdit.js-setup-menu(data-add-menu)
    form.c-form.c-form-setup.c-form(method="POST" name="moduleSetupForm" id="moduleSetupForm" data-js-form-validator)
      .row
        .col-sm-6.c-module-setup__left.l-p-bottom-2
          .row
            .col-sm-3.col-md-2
              .form-group.text-label
                label.form__label(for="name") 主标题
            .col-sm-9.col-md-10.col-xs-10
              .form-group
                input.form-control(type="text" id="name" name="name" data-rule="required|alpha|max:30")
                div.text-danger.l-padding-top-1.hide.input-error-message 请输入主标题
          .row.hide
            .col-sm-3.col-md-2
              .form-group.text-label
                label.form__label(for="type") 网站样式
            .col-sm-9.col-md-10.col-xs-10
              .form-group
                select.js-select-fancy.form-control(type="text" data-js-mobile-smart-label id="type" name="type" data-rule="required")
                  option(value="" class="active")
                  option(value="001") 样式1
                  option(value="002") 样式2
                div.text-danger.l-padding-top-1.hide.input-error-message 请输入样式
          .row
            .col-sm-12.col-md-2
              .form-group.text-label
                label.form__label(for="addMenu") 菜单设置
            .col-sm-12.col-md-10.col-xs-10
              +module-create-menu("js-menu-scroll")

          .row.c-module-setup-confirm
            .col-sm-0.col-md-2
              .form-group.text-label.hidden-xs
                label.form__label(for="")
            .col-sm-12.col-md-10.col-xs-10
              .form-group
                button.btn.btn-primary.js-confirm-info(type="button") 确定
        .col-sm-6
          +module-setup-radios()


      .row.button-group.c-module-setup-button.l-p-top-1
        .col-sm-6.col-xs-6
          .form-group.text-right
            button.btn.btn-primary(type='button') 保存
        .col-sm-6.col-xs-6
          .form-group.text-left
            button.btn.btn-default(type='button' data-dismiss='modal' aria-label='Close') 取消



    //添加菜单的弹出框
    #modalSetup.modal.fade.modalSetup.js-menu-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
              | &times;
            h4#myModalLabel.modal-title 添加菜单
          .modal-body
            form.c-form(method="POST" name="addMenuForm" id="addMenuForm" data-js-form-validator)
              .row
                .col-sm-3.col-xs-3
                  .form-group.text-label
                    label.form__label(for="menuName") 菜单名称
                .col-sm-8.col-xs-8
                  .form-group
                    input.form-control.js-add-menu(type="text" id="menuName" name="menuName" autocomplete='off')
                    div.text-danger.l-padding-top-1.hide.input-error-message 请输入有效名称
              .row.button-group
                .col-sm-6.col-xs-6.button-single
                  .form-group.text-right
                    button.btn.btn-primary.js-save-item(type='button') 保存
                .col-sm-6.col-xs-6.button-single
                  .form-group.text-left
                    button.btn.btn-default(type='button' data-dismiss='modal' aria-label='Close') 取消

    //确认删除信息的弹出框
    #modalConfirm.modal.fade.modalConfirm.js-confirm-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
              | &times;
            h4.myModalLabel.modal-title 添加菜单
          .modal-body
            form.c-form
              .row
                .col-sm-4.col-xs-4
                  .form-group.text-right
                    label.form__label.text-description
                      img(src="./assets/images/icon-info.png", alt="item")
                .col-sm-7.col-xs-7
                  .form-group
                    label.form__label.text-blue.text-bold.text-description 将删除所有子菜单，是否删除？
              .row.button-group.text-center
                .col-sm-6.col-xs-6.button-single
                  .form-group.text-right
                    button.btn.btn-primary.js-remove-btn(type='button') 确定
                .col-sm-6.col-xs-6.button-single
                  .form-group.text-left
                    button.btn.btn-default(type='button' data-dismiss='modal' aria-label='Close') 取消
    //位置添加数据
    #modalDataType.modal.fade.modalDataType.js-dataType-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
              | &times;
            h4.myModalLabel.modal-title 位置1添加数据
          .modal-body
            form.c-form
              .row.l-p-2-1
                .col-sm-12.text-center.text-bold 请选择添加数据类型
              .row.l-p-1-2
                .col-sm-6.col-xs-6.text-center.modalDataType-grid.js-dataType-modal-1
                  .modalDataType-btn
                    img(src=paths.img + 'icon-list.png')
                    span 业务表单
                .col-sm-6.col-xs-6.text-center.modalDataType-grid.js-dataType-modal-2
                  .modalDataType-btn
                    img(src=paths.img + 'icon-chart.png')
                    span 图表类型



    //内容布局添加业务表单数据的弹出框
    #modalAddData1.modal.fade.modalAddData.js-addData-modal-1(tabindex='-1', role='dialog', aria-labelledby='myModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
              | &times;
            h4.myModalLabel.modal-title 位置1添加数据
          .modal-body
            form.c-form
              ul.nav.nav-tabs(role="tab")
                li(role="presentation")
                  img(src=paths.img + 'icon-list-grey.png')
                  span 业务表单数据
              .tab-content
                .form-group.l-p-1-2.modalAddData-select
                  .col-sm-4.col-xs-4
                    select#input_first.form-control(name='input_first')
                      option(value='')
                  .col-sm-4.col-xs-4
                    select#input_second.form-control(name='input_second')
                      option(value='')
                  .col-sm-4.col-xs-4
                    select#input_third.form-control(name='input_third')
                      option(value='')

                .tab-pane.active(role="tabpanel", id="chartType")
                  .input-group.col-sm-12
                    input.form-control(type='text', placeholder='')
                    span.input-group-btn
                      button.btn.btn-default.btn-search 搜索
                  +slickCarousel()
              .row.button-group.text-center
                .col-sm-12.button-single
                  .form-group
                    button.btn.btn-primary(type='button') 确定

    //内容布局添加图表类型数据的弹出框
    #modalAddData2.modal.fade.modalAddData.js-addData-modal-2(tabindex='-1', role='dialog', aria-labelledby='myModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
              | &times;
            h4.myModalLabel.modal-title 位置1添加数据
          .modal-body
            form.c-form.c-module-data
              ul.nav.nav-tabs(role="tab")
                li(role="presentation")
                  img(src=paths.img + 'icon-chart-grey.png')
                  span 图表类型
              .tab-content
                .tab-pane.active(role="tabpanel", id="bizForm")
                  ul.nav.nav-tabs(role="tablist")
                    li.active(role="presentation")
                      a(href="#dataCategory1", aria-controls="dataCategory1", role="tab", data-toggle="tab") 统计
                    li(role="presentation")
                      a(href="#dataCategory2", aria-controls="dataCategory2", role="tab", data-toggle="tab") 对比
                    li(role="presentation")
                      a(href="#dataCategory3", aria-controls="dataCategory3", role="tab", data-toggle="tab") 预测
                  .tab-content(data-js-checbox, data-js-module-data-dropdown)
                    .tab-pane.active(role="tabpanel", id="dataCategory1")
                      .c-module-data__dropdown
                        .c-module-data__dropdown__button.js-module-data-dropdown.
                          业务表单<i class="icon-dropDown"></i>
                      .c-module-data__dropdown__content.hide
                        .button-group
                          label.btn.btn-default
                            input(type="checkbox", name="")
                            | 快速搭建数据门户
                          label.btn.btn-default
                            input(type="checkbox", name="")
                            | 搭建数据门户
                          label.btn.btn-default
                            input(type="checkbox", name="")
                            | 搭建数据门户
                          label.btn.btn-default
                            input(type="checkbox", name="")
                            | 搭建数据门户
                          label.btn.btn-default
                            input(type="checkbox", name="")
                            | 搭建数据门户
                          label.btn.btn-default
                            input(type="checkbox", name="")
                            | 搭建数据门户
                          label.btn.btn-default
                            input(type="checkbox", name="")
                            | 搭建数据门户
                          label.btn.btn-default
                            input(type="checkbox", name="")
                            | 搭建数据门户

                      .c-module-data__chartType
                        label(for="chartType") 图表类型
                        +chartTypeRadioGroup()

                    .tab-pane(role="tabpanel", id="dataCategory2")
                      .c-module-data__dropdown
                        .c-module-data__dropdown__button.js-module-data-dropdown.
                          业务表单<i class="icon-dropDown"></i>
                      .c-module-data__dropdown__content.hide
                        .button-group
                          label.btn.btn-default
                            input(type="checkbox", name="")
                            | 快速搭建数据门户
                          label.btn.btn-default
                            input(type="checkbox", name="")
                            | 搭建数据门户

                      .c-module-data__chartType
                        label(for="chartType") 图表类型
                        +chartTypeRadioGroup()
                    .tab-pane(role="tabpanel", id="dataCategory3")
                  .input-group.col-sm-12.l-p-top-2
                    input.form-control(type='text', placeholder='')
                    span.input-group-btn
                      button.btn.btn-default.btn-search 搜索
                  +slickCarousel()
              .row.button-group.text-center
                .col-sm-12.button-single
                  .form-group
                    button.btn.btn-primary(type='button') 确定