extends ../partials/_template
include ../mixins/_createMenu
block footer
block header


block headCss
  link(rel='stylesheet', href=paths.css + 'vendor/pager.css')
block footerJs
  script(src=paths.js + 'vendor/masonry-docs.js')

//- 业务表单 - 后台
block content
  .c-module.c-module-charts.c-module-charts-edit.isEdit.c-module-setup.container-fluid(data-add-menu)
    form.c-form-module(method="POST" name="moduleChartsEditForm" id="moduleChartsEditForm" data-js-form-validator)
      
      .c-module-charts-edit__menu
        +module-create-menu()
      .c-module-charts__grid(data-js-masonry)
        .masonry.container-fluid
          .box.grid-item
            .grid-item__image
              img(src=paths.img + 'chart-grid-thumb.jpg')
            .grid-item__content
              .name 数据权限对比模块
              .brief.
                先来看看范志毅命中的瑞超2串1，前国足队长如何分析比赛的？在北雪平主场2-0战胜厄勒布鲁的比赛前，范志毅分析后给出推荐：“这场比赛这场比赛两队都无欲无求欲无求了...
            .grid-item__btns
              a(href="./module-edit.html").button-create
                i.icon-module
                | 建模
              a(href="#", data-toggle='modal', data-target='#previewPopup').button-preview.js-open-modal-charts-preview
                i.icon-preview
                | 预览
              a(href="javascript:void(0);").button-edit
                i.ion.ion-edit
                | 编辑
              a(href="javascript:void(0);", data-target="#removeItemModal").js-remove-chart-item
                i.ion.ion-close
                | 删除

          .box.grid-item
            .grid-item__image
              img(src=paths.img + 'chart-grid-thumb.jpg')
            .grid-item__content
              .name 数据权限对比模块
              .brief.
                先来看看范志毅命中的瑞超2串1，“这场比赛这场比赛两队都无欲无求欲无求了...
            .grid-item__btns
              a(href="./module-edit.html").button-create
                i.icon-module
                | 建模
              a(href="#", data-toggle='modal', data-target='#previewPopup').button-preview
                i.icon-preview
                | 预览
              a(href="javascript:void(0);").button-edit
                i.ion.ion-edit
                | 编辑
              a(href="javascript:void(0);", data-target="#removeItemModal").js-remove-chart-item
                i.ion.ion-close
                | 删除

          .box.grid-item
            .grid-item__image
              //- img(src=paths.img + 'chart-grid-thumb.jpg')
            .grid-item__content
              .name 数据权限对比模块
              .brief.
                先来看看范志毅命中的瑞超2串1前，范志毅分析后给出推荐：“这场比赛这场比赛两队都无欲无求欲无求了...
            .grid-item__btns
              a(href="./module-edit.html").button-create
                i.icon-module
                | 建模
              a(href="#", data-toggle='modal', data-target='#previewPopup').button-preview
                i.icon-preview
                | 预览
              a(href="javascript:void(0);").button-edit
                i.ion.ion-edit
                | 编辑
              a(href="javascript:void(0);", data-target="#removeItemModal").js-remove-chart-item
                i.ion.ion-close
                | 删除

          .box.grid-item
            .grid-item__image
              img(src=paths.img + 'chart-grid-thumb.jpg')
            .grid-item__content
              .name 数据权限对比模块
              .brief.
                先来看看范志毅命中的瑞超2串1前，范志毅分析后给出推荐：“这场比赛这场比赛两队都无欲无求欲无求了...
            .grid-item__btns
              a(href="./module-edit.html").button-create
                i.icon-module
                | 建模
              a(href="#", data-toggle='modal', data-target='#previewPopup').button-preview
                i.icon-preview
                | 预览
              a(href="javascript:void(0);").button-edit
                i.ion.ion-edit
                | 编辑
              a(href="javascript:void(0);", data-target="#removeItemModal").js-remove-chart-item
                i.ion.ion-close
                | 删除

          .box.grid-item
            .grid-item__image
              //- img(src=paths.img + 'chart-grid-thumb.jpg')
            .grid-item__content
              .name 数据权限对比模块
              .brief.
                先来看看范志毅命中的瑞超2串1前，范志毅分析后给出推荐：“这场比赛这场比赛两队都无欲无求欲无求了...
            .grid-item__btns
              a(href="./module-edit.html").button-create
                i.icon-module
                | 建模
              a(href="#", data-toggle='modal', data-target='#previewPopup').button-preview
                i.icon-preview
                | 预览
              a(href="javascript:void(0);").button-edit
                i.ion.ion-edit
                | 编辑
              a(href="javascript:void(0);", data-target="#removeItemModal").js-remove-chart-item
                i.ion.ion-close
                | 删除

          .box.grid-item
            .grid-item__image
              img(src=paths.img + 'chart-grid-thumb.jpg')
            .grid-item__content
              .name 数据权限对比模块
              .brief.
                先来看看范志毅命中的瑞超2串1，前国足队长如何分析比赛的？在北雪平主场2-0战胜厄勒布鲁的比赛前，范志毅分析后给出推荐：“这场比赛这场比赛两队都无欲无求欲无求了...
            .grid-item__btns
              a(href="./module-edit.html").button-create
                i.icon-module
                | 建模
              a(href="#", data-toggle='modal', data-target='#previewPopup').button-preview
                i.icon-preview
                | 预览
              a(href="javascript:void(0);").button-edit
                i.ion.ion-edit
                | 编辑
              a(href="javascript:void(0);", data-target="#removeItemModal").js-remove-chart-item
                i.ion.ion-close
                | 删除

          .box.grid-item
            .grid-item__image
              img(src=paths.img + 'chart-grid-thumb.jpg')
            .grid-item__content
              .name 数据权限对比模块
              .brief.
                先来看看范志毅命中的瑞超2串1，“这场比赛这场比赛两队都无欲无求欲无求了...
            .grid-item__btns
              a(href="./module-edit.html").button-create
                i.icon-module
                | 建模
              a(href="#", data-toggle='modal', data-target='#previewPopup').button-preview
                i.icon-preview
                | 预览
              a(href="javascript:void(0);").button-edit
                i.ion.ion-edit
                | 编辑
              a(href="javascript:void(0);", data-target="#removeItemModal").js-remove-chart-item
                i.ion.ion-close
                | 删除

     
    //添加菜单的弹出框
    #modalSetup.modal.fade.modalSetup.js-menu-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
              | &times;
            h4#myModalLabel.modal-title 添加菜单
          .modal-body
            form.c-form(method="POST" name="addMenuForm" id="addMenuForm" data-js-form-validator)
              .row
                .col-sm-3.col-xs-3
                  .form-group.text-label
                    label.form__label(for="menuName") 菜单名称
                .col-sm-8.col-xs-8
                  .form-group
                    input.form-control.js-add-menu(type="text" id="menuName" name="menuName" autocomplete='off')
                    div.text-danger.l-padding-top-1.hide.input-error-message 请输入有效名称
              .row.button-group
                .col-sm-6.col-xs-6.button-single
                  .form-group.text-right
                    button.btn.btn-primary.js-save-item(type='button') 保存
                .col-sm-6.col-xs-6.button-single
                  .form-group.text-left
                    button.btn.btn-default(type='button' data-dismiss='modal' aria-label='Close') 取消

     //确认删除信息的弹出框
    #modalConfirm.modal.fade.modalConfirm.js-confirm-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
              | &times;
            h4.myModalLabel.modal-title 删除菜单
          .modal-body
            form.c-form
              .row
                .col-sm-4.col-xs-4
                  .form-group.text-right
                    label.form__label.text-description
                      img(src="./assets/images/icon-info.png", alt="item")
                .col-sm-7.col-xs-7
                  .form-group
                    label.form__label.text-blue.text-bold.text-description 将删除所有子菜单，是否删除？
              .row.button-group.text-center
                .col-sm-6.col-xs-6.button-single
                  .form-group.text-right
                    button.btn.btn-primary.js-remove-btn(type='button') 确定
                .col-sm-6.col-xs-6.button-single
                  .form-group.text-left
                    button.btn.btn-default(type='button' data-dismiss='modal' aria-label='Close') 取消

    #removeItemModal.modal.fade.modalConfirm.js-remove-item-modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true")
              | &times;
            h4.myModalLabel.modal-title 删除表单
          .modal-body
            form.c-form
              .row
                .col-sm-4.col-xs-4
                  .form-group.text-right
                    label.form__label.text-description
                      img(src="./assets/images/icon-info.png", alt="item")
                .col-sm-7.col-xs-7
                  .form-group
                    label.form__label.text-blue.text-bold.text-description 是否删除表单？
              .row.button-group.text-center
                .col-sm-6.col-xs-6.button-single
                  .form-group.text-right
                    button.btn.btn-primary.js-remove-btn(type='button') 确定
                .col-sm-6.col-xs-6.button-single
                  .form-group.text-left
                    button.btn.btn-default(type='button' data-dismiss='modal' aria-label='Close') 取消

      







      
