include ../mixins/_helper

include _config

head
  title=stripTags(app.name)
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  meta(charset='utf-8')
  meta(name='description', content=app.description)
  meta(name='keywords', content=app.keywords)


 


  link(rel='stylesheet', href=paths.css + 'vendor/bootstrap.css')
  link(rel='stylesheet', href=paths.css + 'vendor/font-awesome.css')
  link(rel='stylesheet', href=paths.css + 'vendor/ionicons.css')
  link(rel='stylesheet', href=paths.css + 'vendor/b.tabs.css')
  link(rel='stylesheet', href=paths.css + 'vendor/bootstrap-select.css')
  link(rel='stylesheet', href=paths.css + 'vendor/slick.css')
  block headCss
  <!--[if (gt IE 8)]><!-->
  link(rel='stylesheet', href=paths.css + 'app.css')
  <!--<![endif]-->
  link(rel='shortcut icon' href=paths.img + 'favicon.ico' type='image/ico')

